@using ProductSellStore.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProductSellStore.Data.Models
@model ProductSellStore.ViewModel.PageInfo
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UserServices UserServices;


@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await UserServices.GetUserById(userId);
}

    
<form asp-controller="Products" asp-action="All" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>

</form>
<a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="All" asp-route-SearchString="@Model.WordsToSearch" asp-route-numberPage="@(Model.curentPageNumber-1)">Previos</a>




<a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="All" asp-route-SearchString="@Model.WordsToSearch" asp-route-numberPage="@(Model.curentPageNumber+1)">Next</a>


               
@await Html.PartialAsync("_RenderItemsPartial");       

