@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://as1.ftcdn.net/v2/jpg/02/41/43/18/1000_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://as2.ftcdn.net/v2/jpg/02/74/98/91/1000_F_274989153_XSiWoHsVOnlTs0Far2EYacdg8rE4kw27.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://as1.ftcdn.net/v2/jpg/03/93/88/78/1000_F_393887833_JuP5DkgghppS6vSMA55vBzSH7m5NBbkL.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<h1>Products</h1>
@await Html.PartialAsync("_RenderItemsPartial")
<div class="text-center">
<a  class="btn btn-outline-primary" asp-controller="Products" asp-action="All">More</a>
</div>