<h1>Refund policy</h1>
<div class="shopify-policy__body">
    <div class="rte">
        <p><strong>Return Policy</strong></p>
        <p>You have 30 days after purchase to exchange or return and return shipping costs apply. For some products, we will add a restocking fee, which will be mentioned in the detailed description of the corresponding product.</p>
        <p>To be eligible for a return, your items must be in the same condition that you received them, unworn or unused, with tags, and in their original packaging. You’ll also need the receipt or proof of purchase.</p>
        <p>To start a return, please sign in to Order History and then select Request a return. Or submit your Order Number and Email via <a href="https://www.joybuy-us.com/a/returns">https://www.joybuy-us.com/a/returns</a>.</p>
        <p>You can always contact us for any return questions at service-us@jd.com.</p>
        <p>&nbsp;</p>
        <p><strong>Damages and issues </strong></p>
        <p>Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item so that we can evaluate the issue and make it right.</p>
        <p>&nbsp;</p>
        <p><strong>Exceptions / non-returnable items </strong></p>
        <p>Certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), custom products (such as special orders or personalized items), and personal care goods (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item.</p>
        <p>&nbsp;</p>
        <p><strong>Exchanges </strong></p>
        <p>You will receive a pre-paid shipping label for free exchange. The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item.</p>
        <p>&nbsp;</p>
        <p><strong>Refunds</strong><strong>&nbsp;</strong></p>
        <p>When returning an item, you can choose your preferred refund method. You can ask for your refund in the form of store credit with free shipping. Alternatively, you can use your original payment method for a refund, and shipping charges will be deducted. Please note that it may also take some time for your bank or credit card company to process and issue the refund.</p>
    </div>
</div>