<div class="shopify-policy__title">
    <h1>Shipping policy</h1>
</div>

<div class="shopify-policy__body">
    <div class="rte">
        <h2><strong>Where we can deliver the package to</strong></h2>
        <p>We are shipping to Contiguous United States (exclude Alaska, Hawaii and&nbsp;and all other off-shore insular areas)</p>
        <h2>Shipping methods and shipping time</h2>
        <p>Our standard shipment is UPS 3-Days shipping service and most packages arrive in 2-3 business days.</p>
        <p>Please track you package at: <a href="https://www.ups.com/track?loc=en_US&amp;requester=ST/" title="UPS tracking" aria-describedby="a11y-external-message">UPS Tracking</a></p>
        <h2>What is the shipping cost</h2>
        <p>Free 3-day shipment with orders over $15</p>
        <p>Flat rate of $6.99 shipment fee may apply for orders lower than $15</p>
    </div>
</div>