<h1>About Us</h1>
<div class="rte">
    <p>ProductSellStore is a leading e-retailer in North America headquartered in Irvine, California, with distribution facilities located throughout the United States. The company offers a large variety of products including small appliances, office essentials, fitness equipment, technological products. We also work closely with major retail brands and manufacturers, which allows us to offer competitive pricing on our unparalleled product selection with a firm commitment to on-time order fulfillment.</p>
    <p>ProductSellStore ever-present philosophy is to always put the customer first. We are committed to total customer satisfaction through providing consistently high quality products and services that meet or exceed the expectations of our world-wide customers.</p>
    <p>&nbsp;</p>
</div>